<%= form_for(@task, remote: true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>

<div class="row">
 <div class="col-sm-6">
  <div class="form-group">
    <%= f.label :name, :class => "control-label" %>
    <%= f.text_field :name, :class => "form-control first_input"  %>
  </div>
</div>

<div class="col-sm-6">
  <div class="form-group">
    <%= f.label :priority, "Prioridad:" %>
    <%= f.select :priority, [["Alta"], ["Media"], ["Baja"]], class: "form-control input-lg" %>
  </div>
  <div class="form-group">
    <%= f.submit  @task.new_record? ? "Crear Tarea" : "Actualizar Tarea", :class => "btn btn-primary" %>
  </div>
</div>
</div>
<% end %>
