<!-- Formulario de creacion o edicion de nuevas tareas  -->
<%= form_for(@task, remote: true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>

<div class="row">
  <div class="col-8">
    <div class="form-group">
      <%= f.label :name, '<h5>Nombre de la Tarea: </h5>'.html_safe, :class => "control-label" %>
      <%= f.text_field :name, :class => "form-control first_input", :autocomplete => :off, :placeholder => "Tarea" %>
    </div>
  </div>

  <div class="col-4">
    <div class="form-group">
      <%= f.label :priority, '<h5>Prioridad: </h5>'.html_safe %>
      <%= f.select :priority, [["Alta"], ["Media"], ["Baja"]], class: "custom-select" %>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="align-items-center">
      <%= f.submit  @task.new_record? ? "Crear Tarea" : "Actualizar Tarea", :class => "btn btn-lg btn-primary", id: "nuevo" %>
  </div>
</div>
<% end %>
