<tr id="task_<%= task.id %>" class="<%= task.done %>">
  <td><%= task.name %></td>
  <td><%= task.priority %></td>
  <td>
    <%= link_to 'Editar', edit_task_path(task), remote: true, :class => 'btn btn-sm btn-info' %>
    <%= link_to 'Tarea Hecha', task_set_done_path(task), remote: true, :class => 'btn btn-sm btn-success', :id => 'task-id' %>
    <%= link_to 'Eliminar', task, remote: true, :method => :delete, data: {confirm: "¿Confirmas eliminar la tarea: #{task.name} ?"}, :class => 'btn btn-sm btn-danger' %>
  </td>
</tr>
