<% if signed_in? %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Lista de Tareas de <%= current_user.name %></h1>
      </div>
    </div>

  <!-- Boton crear nueva tarea -->
    <div class="row">
      <div class="col-12">
        <%= link_to "Tarea Nueva".html_safe, new_task_path, remote: true, class: "btn btn-lg pull-left", id: "nuevo" %>
      </div>
    </div>

  <!-- Tabla lista de tareas -->
    <div class="row">
      <div class="col-12">
        <div class="table-responsive-lg">
          <table class="table table-bordered">
            <thead class="text-center">
              <tr>
                <th>Tarea</th>
                <th>Prioridad</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody id="tasks" class="text-center">
              <%= render @tasks %>
            </tbody>
          </table>
            <%= render 'dialog' %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <%= link_to "Salir", logout_path, method: :delete, class: "btn btn-lg pull-left", id: "nuevo" %>
      </div>
    </div>

  </div>
<!-- Si el usuario no esta logeado lo invitara a crear cuenta o iniciar sesion -->
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <blockquote class="blockquote text-center">
          <h1>
            TO-DO list, la App que lleva un registro de tus tareas pendientes.
          </h1>
          <br>
        </blockquote>
      </div>
    </div>
    <div class=row>
      <div class="col-12">
        <br>
        <h2>
          <span><i class="fas fa-clipboard-list"></i></span>
          Hola! Si ya creaste tu cuenta dale click al boton para validarte.
        </h2>
        <h1 class="text-center">
          <span><i class="far fa-hand-point-right"></i></span>
          <span>
            <%= link_to "Ingresa a tu App", login_path, class: "btn btn-sm", id: "nuevo" %>
          </span>
        </h1>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <br>
        <h2>
          <span><i class="fas fa-clipboard-list"></i></span>
          Si no has creado tu cuenta, dale click al siguiente boton y registrate.
        </h2>
        <h1 class="text-center">
          <span><i class="far fa-hand-point-right"></i></span>
          <span>
            <%= link_to "Crear cuenta", new_user_path, class: "btn btn-lg pull-left", id: "nuevo" %>
          </span>
        </h1>
      </div>
    </div>
  </div>
<% end %>
